body {
    font-family: 'Open Sans', sans-serif;
}

/* Faça login */

.faca-login{
    background-image: url("../img/background-awe.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo-awe{
    transform: translate(-50%, -50%);
    top: 15%;
    left: 50%;
}

.login-meio p{
    font-family: 'Poppins', sans-serif;
    color: #307FE2;
    font-size: 32px;
    font-weight: 600;
}

.linha-azul{
    width: 168px;
    height: 4px;
    border-radius: 100px;
    background: #307FE2;
    margin-bottom: 8px;
}

.login-meio span{
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

/* Form entrar */

.form-entrar {
    padding-bottom: 144px;
}

.form-entrar button[type="submit"] {
    font-family: 'Poppins', sans-serif;
}

.links-form {
    font-size: 0.75rem;
}

.senha{
    position: relative;
}

.form-senha{
    display: inline;
}

.senha .eye-closed{
    cursor: pointer;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    right: 3%;
    color: #307FE2;
}

/* alterar senha */
.forgotten, .nova-senha h3 {
    border-bottom: 1px solid var(--Fuschia-60, #FCDDEC);
    padding-bottom: 16px;
}

.linha-fuchsia {
    border-bottom: 1px solid var(--Fuschia-60, #FCDDEC);
}

.form-entrar a[href="index.html"] {
    font-size: 12px;
}
.recupere {
    color: #333;
    width: 400px;
    font-size: 14px;
}

/* Menu lateral */

#menu-lateral {
    font-family: 'Poppins', sans-serif;
    border-right: 1px solid #BDBDBD;
}

#menu-lateral .menu-lateral-container {
    padding: 32px;
}

#menu-lateral .logos {
    margin-bottom: 32px;
}

#menu-lateral .secoes {
    gap: 20px;
}

#menu-lateral .linha-cinza-claro {
    border-color: #F2F2F2;
}

#menu-lateral .texto-saida {
    color: #FF161F; 
}

#menu-lateral .texto-atleta {
    color: #4F4F4F;
    font-size: 12px;
}

/* Dashboard */

#dashboard .col-12, #dashboard .col-3 {
    margin: 0;
    padding: 0;
}

#dashboard {
    font-family: "Poppins", sans-serif;
    padding-top: 32px;
}

#dashboard .card {
    font-family: "Open Sans", sans-serif;
}

#dashboard .badge-confirmado, #dashboard .badge-a-pagar {
    border-radius: 14px;
    color: var(--Primary-White, #FFF);
    font-size: 8px;
    line-height: 120%;
}

#dashboard .badge-confirmado {
    background: var(--Green-1, #219653);
    padding: 7px 8px;
}

#dashboard .badge-a-pagar {
    background: #BB6BD9;
}

#dashboard .card-body {
    gap: 36px;
}


#dashboard .card-body .img-fluid {
    max-width: 38px;
}

#dashboard .card-body .card-title {
    font-size: 16px;
    margin: 0;
}

#dashboard .btn {
    font-size: 14px;
    width: fit-content;
    border-radius: 6px;
    padding: 6px 10px;
}

#dashboard .btn-light {
    border: 1px solid #DFE2E7;
    background: none;
}

#dashboard .btn-primary {
    border: none;
    background: #0095D9;
}

#dashboard .btn-primary:active {
    border: none;
    background: #217CA6;
}
