body {
  font-family: "Open Sans", sans-serif;
  min-width: 1500px;
}

/* Classes reutilizáveis */

.btn-primary {
  color: #fff;
  border: none;
  background: #0095d9 !important;
}

.btn-primary:active {
  border: none;
  background: #217ca6 !important;
}

.navegacao {
    font-size: 14px;
    color: #555;
}

.navegacao {
    gap: 8px;
}

.navegacao img {
    width: 6px;
    height: auto;
}

.navegacao span:nth-child(1) {
    color: #0095d9;
}

.title h2 {
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

select.form-select {
    background-image: url("../img/arrow-down-blue.svg");
    background-size: 10px auto;
}

/* Faça login */

.faca-login {
  background-image: url("../img/background-awe.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo-awe {
  transform: translate(-50%, -50%);
  top: 15%;
  left: 50%;
}

.login-meio p {
  font-family: "Poppins", sans-serif;
  color: #307fe2;
  font-size: 32px;
  font-weight: 600;
}

.linha-azul {
  width: 168px;
  height: 4px;
  border-radius: 100px;
  background: #307fe2;
  margin-bottom: 8px;
}

.login-meio span {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

/* Form entrar */

.form-entrar {
  padding-bottom: 144px;
}

.form-entrar button[type="submit"] {
  font-family: "Poppins", sans-serif;
}

.links-form {
  font-size: 0.75rem;
}

.senha {
  position: relative;
}

.form-senha {
  display: inline;
}

.senha .eye-closed {
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 3%;
  color: #307fe2;
}

/* Alterar senha */

.forgotten,
.nova-senha h3 {
  border-bottom: 1px solid var(--Fuschia-60, #fcddec);
  padding-bottom: 16px;
}

.linha-fuchsia {
  border-bottom: 1px solid var(--Fuschia-60, #fcddec);
}

.form-entrar a[href="index.html"] {
  font-size: 12px;
}
.recupere {
  color: #333;
  width: 400px;
  font-size: 14px;
}

/* Menu lateral */

#menu-lateral {
  font-family: "Poppins", sans-serif;
  border-right: 1px solid #bdbdbd;
}

#menu-lateral .menu-lateral-container {
  padding: 32px;
}

#menu-lateral .logos {
  margin-bottom: 32px;
}

#menu-lateral .secoes {
  gap: 20px;
}

#menu-lateral .linha-cinza-claro {
  border-color: #f2f2f2;
}

#menu-lateral .texto-saida {
  color: #ff161f;
}

#menu-lateral .texto-atleta {
  color: #4f4f4f;
  font-size: 12px;
}

/* Dashboard */

#dashboard h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-top: 32px;
}

#dashboard .badge-confirmado,
#dashboard .badge-a-pagar {
  border-radius: 14px;
  color: var(--Primary-White, #fff);
  font-size: 8px;
  line-height: 120%;
}

#dashboard .badge-confirmado {
  background: var(--Green-1, #219653);
  padding: 7px 8px;
}

#dashboard .badge-a-pagar {
  background: #bb6bd9;
}

#dashboard .card-body {
  gap: 36px;
}

#dashboard .card-body .img-fluid {
  max-width: 38px;
}

#dashboard .card-body .card-title {
  font-size: 16px;
  margin: 0;
}

#dashboard .btn {
  font-size: 14px;
  width: fit-content;
  border-radius: 6px;
  padding: 6px 10px;
}

#dashboard .btn-light {
  border: 1px solid #dfe2e7;
  background: none;
}

#dashboard .junior,
#natação .natação {
  min-width: 200px;
  margin-right: 24px;
  height: max-content;
}

#dashboard .card {
  padding-top: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

#dashboard .bola-imagem {
  border-radius: 50%;
  width: 100px;
  opacity: 90%;
  fill: rgba(51, 51, 51, 0.3);
}

#dashboard .bola {
  position: relative;
  font-weight: 600;
}

#dashboard .trocar-foto {
  font-size: 12px;
  position: absolute;
  color: #ffffff;
  width: 65px;
  margin-top: 10px;
}

#dashboard .btn {
  padding: 8px 16px;
  height: 40px;
}

#dashboard .btn-2 {
  color: #0095d9;
}

#dashboard .list-group-item span:nth-child(1) {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

#dashboard .list-group-item span:nth-child(2) {
  color: #4f4f4f;
  font-size: 14px;
  font-weight: 400;
}

#dashboard .btn-3 {
  color: #ff161f;
}

#dashboard .list-group {
  min-width: 662px;
}

#dashboard .list-group-item {
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 600;
}

#dashboard .list-group-item span {
  width: 340px;
  color: #333333;
  font-weight: 400;
}

#dashboard .list-group-item span:nth-child(2) {
  color: #4f4f4f;
}

/* Dashboard / Editar */

#dashboard .form {
  padding: 1vh 2vh 2vh 2vh;
  border-radius: 8px;
}

#dashboard .form label {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

#dashboard .form input,
#dashboard .form select {
  padding: 1vh 1.6vh;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 400;
  border: solid 1px #e0e0e0;
}

#dashboard .formatacao {
  width: 321px;
}

#dashboard .segunda-formatacao {
  width: 200px;
}

#dashboard .terceira-formatacao {
  width: 226px;
}

#dashboard .nascimento img,
#dashboard .nome img {
  transform: translate(-50%, -50%);
  top: 50%;
  right: 3%;
  cursor: pointer;
}

#dashboard .nascimento input,
#dashboard .nome input {
  background-color: #fff;
}

/* Dashboard / ALterar-perfil */

#alterar-senha .col-12,
#alterar-senha .col-4,
#modalidades .col-7 {
  margin: 0;
  padding: 0;
}

#alterar-senha .navegacao,
#modalidades .navegacao {
  gap: 8px;
}

#alterar-senha .navegacao img,
#modalidades .navegacao img {
  width: 6px;
  height: auto;
}

#alterar-senha .navegacao span:nth-child(1),
#modalidades .navegacao span:nth-child(1),
#modalidades .navegacao span:nth-child(3) {
  color: #0095d9;
}

#alterar-senha .title h2 {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

#alterar-senha .formulario,
#alterar-senha .descricao {
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

#alterar-senha .formulario label {
  font-weight: 600;
}

#alterar-senha .btn {
  color: #fff;
  font-size: 14px;
  padding: 8px 20px;
}

/* Modalidades */

#menu-lateral .modalidades-destaque {
  background: #f5f5f5;
  border-radius: 8px;
}

#menu-lateral .modalidades-destaque span {
  color: #0095d9;
}

#modalidades .navegacao {
  font-size: 12px;
}

#modalidades .title h2 {
  color: #333;
  font-family: "Poppins";
  font-size: 18px;
}

#modalidades .form button {
  font-family: Poppins;
  font-size: 14px;
  padding: 10px 16px;
}

#modalidades .form button:nth-child(1) {
  background: none !important;
  color: #0095d9;
  border: 1px solid #0095d9;
  padding-left: 44px;
}

#modalidades .form button:nth-child(1) .img-fluid {
  left: 16px;
}

/* Modalidades - Natação */
#natação {
  padding: 32px 0 0 0;
}

#natação .sobre {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

#natação .padding-b {
  padding-bottom: 20px;
}

#natação .padding-t {
  padding-top: 20px;
}

#natação .individual {
  background: #e9f8ff;
  border-radius: 100px;
  color: #0095d9;
  width: 100px;
}

#natação .link {
  color: #0095d9;
  font-size: 14px;
  font-weight: 400;
}

#natação .card,
#natação .list-inscricoes {
  padding: 16px;
}

#natação .list-inscricoes,
#natação .inscricoes {
  font-weight: 700;
  color: #333;
  font-size: 16px;
  background: #f7f7f7;
}

#natação .list {
  padding: 2px 0 2px 0;
}

#natação .sobre-inscrito,
#natação .sobre-inscrito .curso {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

#natação .sobre-inscrito span {
  font-size: 16px;
  font-weight: 600;
}

#natação .validação {
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 6px;
}

#natação .confirmado {
  background: #e7fff1;
  color: #219653;
}

#natação .aguardando {
  background: #fff8f2;
  color: #e59146;
}

#natação .expirado {
  background: #767676;
  font-style: italic;
  color: #fff;
}

#natação .expirado-font .sobre-inscrito span,
#natação .expirado-font .sobre-inscrito div {
  color: #767676;
}

#natação .tempo {
  font-size: 12px;
  font-weight: 400;
  color: #828282;
}

#natação .confirmação {
  padding: 2px 10px 2px 0;
}

#natação .botões button {
  border-radius: 4px;
  border: 1px solid #4f4f4f;
  padding: 4px 8px;
  background: #33333300;
  font-family: "Poppins";
  font-size: 10px;
  font-weight: 400;
  color: #4f4f4f;
  transition: 0.5s;
}

#natação .botões button:hover {
  transition: 0.5s;
  background: rgba(51, 51, 51, 1);
  color: white;
}

#modalidades .form-epic {
  padding: 32px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

#modalidades .form-epic div {
  margin-bottom: 10px;
}

#modalidades .btn-cadastrar {
  color: #ffffff;
  border-radius: 6px;
  background: #0095D9;
  width: 164px;
  margin-top: 31px;
}

/* Cadastro de modalidades */

#modalidades-cadastro .form {
    max-width: 592px;
    margin-top: 32px;
    gap: 32px;
}

#modalidades-cadastro .form .card-body {
    gap: 24px;
    padding-left: 24px !important;
    padding-bottom: 24px !important;
}

#modalidades-cadastro .form * {
    font-size: 14px;
}

#modalidades-cadastro .form input[type="text"],
#modalidades-cadastro .form select {
    padding: 12px 0 12px 16px;
}

#modalidades-cadastro .form input[type="text"] {
    max-width: 320px;
}

#modalidades-cadastro .form input[type="text"]::placeholder {
    color: #828282;
}

#modalidades-cadastro label:not(.form-check-label) {
    color: #333;
    font-weight: 600;
}

#modalidades-cadastro label.form-check-label {
    color: #4F4F4F;
    font-weight: 400;
}

#modalidades-cadastro .container-radio {
    padding: 12px 16px 12px 16px;
    gap: 10px;
}

#modalidades-cadastro .form input[type="radio"] {
    border-color: #0095D9;
}

#modalidades-cadastro .form select {
    max-width: 200px;
}

#modalidades-cadastro .form select option {
    color: #333;
}

#modalidades-cadastro .form button[type="submit"] {
    font-family: "Poppins", sans-serif;
    width: fit-content;
}
